h1 {
    color: #d2e00e;
}

/* * {
    border: solid;
}  */
.header{
    background-color: #6315a3;

    display: flex;

    justify-content: space-between;
}

.grid{
    flex-wrap: wrap;

    display: flex;

    justify-content: space-between;
}

.footer{
    display: flex;

    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    background-color: #8080;
}